*{

    margin:0;
    padding: 0;
    box-sizing:border-box;
}
    
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 100%;
}


body{
    font-family: 'Roboto Mono', monospace;
}
.container{
    max-width: 1200px;
    margin: auto;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
}
header nav ul a
{
    color: black;
}
header nav ul a:hover
{
    color: blueviolet;
    text-decoration: underline;
}
header .nav-logo span{
    color: blue;
}